[2019-04-16 11:01] PatelUtkarsh opened #1 "Add google api client via composer"
`composer require google/apiclient:"^2.0"`

https://github.com/googleapis/google-api-php-client

[2019-04-16 11:03] PatelUtkarsh opened #2 "Provide WP config variable for app secret"
- [ ] update readme with required variable name

If we restrict PHP to 7 and above then we can use array define in PHP as it's supported from 7 https://www.php.net/manual/en/function.define.php.

[code]

[2019-04-16 11:05] PatelUtkarsh opened #3 "Add html/css for login with google button"
https://developers.google.com/identity/branding-guidelines

[2019-04-16 11:12] PatelUtkarsh opened #4 "Integrate login functionality"
Acceptance Criteria:

- When a user clicks login with google it should compare email after google redirects the user back and WP should login with appropriate WP user.
- It should work seamlessly with MU sites.
- All site in mu will use same creds defined in wp-config.php

[2019-04-16 11:16] PatelUtkarsh opened #5 "Allow creation of new user"
If google redirected user doesn't exist on WordPress then check config - defaults to false which should allow the creation of the new user.

Related #2

[2019-04-16 11:19] PatelUtkarsh opened #6 "Allow whitelisting domain"
Allow login from a specific domain: let's say @rtCamp.com then it should only accept those users and other users should not allowed to be logged in.

Provide config for same.

Related: #2

[2019-04-17 06:24] #1 closed, assigned to nobody

[2019-04-17 13:50] PatelUtkarsh opened #7 "Add phpcs.xml"
We should follow `WordPressVIPMinimum` and `WordPress-Docs`.

Open for suggestions.

[2019-04-17 13:55] PatelUtkarsh opened #8 "Update readme with config required"
Add all details to create google console account and fetch client id and secret in Readme.

[2019-04-18 09:13] #7 closed, assigned to dhaval-parekh

[2019-04-18 09:45] PatelUtkarsh opened #10 "Add phpcs code review action"
Integrate rtCamp/action-phpcs-code-review action.

No need to add slack notification.

[2019-04-19 05:46] #10 closed, assigned to nobody

[2019-04-19 13:08] #3 closed, assigned to nobody

[2019-04-24 11:20] #2 closed, assigned to dhaval-parekh

[2019-04-24 11:20] #4 closed, assigned to nobody

[2019-04-24 11:20] #5 closed, assigned to nobody

[2019-04-24 11:20] #6 closed, assigned to nobody

[2019-04-25 08:49] PatelUtkarsh opened #16 "Add unit-test"
- [x] phpunit
- [x] Integrate phpunit using GitHub Action

[2019-04-25 10:41] rahul286 opened #18 "mu-plugins support"
Please test the plugin if it works as a `mu-plugins`.

[2019-04-26 04:18] #8 closed, assigned to nobody

[2019-05-03 08:12] abhijitrakas opened #20 "Unable to login using Google account"
@PatelUtkarsh I have added all required constants on [production](https://github.com/rtCamp/rtcamp-wordpress-mu/blob/master/rt-config/rt-config.php#L17...L21)  but still, it's unable to login.

When I try to log in on [the cafe site](https://cafe.rsites.in/wp-login.php) using Google login it redirects me to the [main site](https://rsites.in).

Please check following app setting which I and @radhe

[2019-05-23 09:33] #20 closed, assigned to dhaval-parekh

[2019-11-15 06:26] chandrapatel opened #22 "Conflict with aws-ses-wp-mail plugin"
[code]

We got this error on rtcamp.com site. `guzzlehttp` library have been used in `wp-google-login` and `aws-ses-wp-mail` plugin. So its conflict and and throwing error.

We need to resolve this error in our plugin.

[2019-11-18 13:37] #22 closed, assigned to dhaval-parekh

[2019-12-24 10:01] chandrapatel opened #23 "Update package-lock.json"

[2019-12-24 13:20] #23 closed

[2020-01-13 09:16] deepaklalwani97 commented on #16
@DevikVekariya The rtBot review can be dismissed as it is a false flag and the PR looks good to me and i have tested the test cases on my local all are passing.

[2020-01-15 19:15] DevikVekariya commented on #16
@mrrobot47 is working for GH actions setup here and expecting 3 hours of sys work

[2020-01-20 07:13] deepaklalwani97 commented on #16
@DevikVekariya I have fixed the missing code coverage which I could fix and added code-coverage ignore on lines which could not be tested with proper comments with reason.

[2020-01-20 07:25] DevikVekariya commented on #16
@deepaklalwani97 I see there are many code coverage ignore blocks without comment! Please add a proper comment on that

[2020-01-20 07:51] deepaklalwani97 commented on #16
@DevikVekariya Added comment/fixed ignore blocks

[2020-01-20 12:01] deepaklalwani97 commented on #18
@DevikVekariya I have tested the plugin as mu-plugin and it works fine.

[2020-01-29 11:14] deepaklalwani97 commented on #16
Merged #19 to  develop while testing develop branch  on https://deepak.dev4.rt.gw/ found an issue with redirection after successful login the site redirects to http://httpsdeepak.dev4.rt.gwwp-admin1/

[2020-02-06 06:41] deepaklalwani97 commented on #16
@pooja-muchandikar Can you test the develop branch for this repo on https://deepak.dev4.rt.gw/. I have added the latest develop zip in this site and configured it with secrets. I have also added your user to the site. Let me know if you face any issues.
CC: @DevikVekariya

[2020-02-06 07:53] pooja-muchandikar commented on #16
@deepaklalwani97

I have tested the site with google login and works as expected with my below findings.

- ( with already existing user on site ) tried google login and was able to login successfully :heavy_check_mark:

- Tried google login on the site with email other than rtcamp email and login was blocked as expected :heavy_check_mark:

- Deleted user from the site and enabled `anyone can regi

[2020-02-06 08:13] deepaklalwani97 commented on #16
@DevikVekariya Created PR  to master branch as the develop branch has been tested. #26

[2020-02-06 08:53] DevikVekariya commented on #16
@deepaklalwani97 I see lots of errors from bot here https://github.com/rtCamp/wp-google-login/issues/16

[2020-02-06 09:11] deepaklalwani97 commented on #16
@DevikVekariya We can ignore these errors. All these errors are from unit tests we have ignored tests folder in `phpcs.xml`  but seem like bot does not respect `phpcs.xml` file

[2020-02-06 09:15] DevikVekariya commented on #16
@deepaklalwani97 debug why phpcs is not being ignored from test!

I'll be able to merge only when all checks are being passed. Can't ignore it in this way.

[2020-02-27 09:47] DevikVekariya commented on #18
It seems all working as expected.

@sagarnasit We can add this in the readme that this plugin works with `mu-plugins` too.

[2020-03-02 12:23] DevikVekariya commented on #18
Added in Readme. Closing this issue

[2020-03-02 12:23] #18 closed

[2020-03-02 12:25] DevikVekariya commented on #16
All seems clear to release this.

Will do merge this PR https://github.com/rtCamp/wp-google-login/pull/29 and release it tomorrow morning.

cc @sagarnasit

[2020-03-03 09:06] #16 closed

[2020-05-19 15:47] power-cut opened #44 "Feature Request - Login with JWT Auth"
I am powering my React mobile App with Wordpress REST API. I am using [JWT Auth](https://wordpress.org/plugins/jwt-authentication-for-wp-rest-api/) Plugin to login and works great. WP JWT Auth plugin requires a password to get the token, now I want to integrate Google login.
Can this be a feature for this plugin ?

[2020-05-20 07:39] juhi123 opened #45 "Add settings page"
## Feature description
Add the settings page to add `client id`, `secret key`,  `whitelisted-domains`, whichever [we add in wp-config.php](https://github.com/rtCamp/wp-google-login#how-to-use-it)

---
## Acceptance criteria
1. Settings link should be given at plugins page
![Screenshot 2020-05-20 at 1 06 04 PM](https://user-images.githubusercontent.com/8724401/82418535-bcb76c80-9a9a-11ea-8c88-f35a4

[2020-06-05 07:18] juhi123 commented on #45
@itowhid06 Thanks for the PR :)
Can you please make a few minor changes to match with WP Core UI
1. Wrap the settings heading in `<div class="wrap">`
![Screenshot 2020-06-05 at 12 30 11 PM](https://user-images.githubusercontent.com/8724401/83846525-584a0d80-a728-11ea-8818-eeb1adbc3aea.png)

2. Change `Here` to `here`  in this "If you do not have Project and Credentials, you can create one from Her

[2020-06-05 10:09] juhi123 commented on #45
@itowhid06 Also add setting for user registration so this `define( 'WP_GOOGLE_LOGIN_USER_REGISTRATION', true );` also can be managed without adding in wp-config.php

[2020-06-08 08:10] itowhid06 commented on #45
@juhi123 All changes have been implemented.

[2020-10-19 10:47] mrrobot47 opened #60 "Broken js/css"
Currently, the plugin is working, but with broken js/css.

![screenshot](https://user-images.githubusercontent.com/25586785/96440268-5a1ef400-1225-11eb-91af-a0e5cba05ad9.png)

This is happening because the js and css build files are in [assets](https://github.com/rtCamp/login-with-google/tree/0f3cd44ccaf810b26d36103dcfbe5a30c43bc58e/assets) directory. Also, the images for the plugin are also there

[2020-10-19 11:40] #60 closed

[2020-12-18 07:56] rahul286 opened #62 "403 error when login with google and normal log out"
@mrrobot47 when I try to login via the google login button I am getting nginx 403

1. You can go to https://hw.rsites.in/wp-login.php
2. Try google login. It gives 403
3. Go to https://hw.rsites.in/wp-admin and you will be in
4. Try log out from WP top-right side profile menu, and 403 again

If this is not related to server config, then you may assign this to somebody from @rtCamp/developers

[2020-12-18 08:11] kirtangajjar commented on #62
@rahul286 Can you check now? Looks like the issue was in the server config. We put 1req/s raet limit on `wp-login.php` and while logging out, two requests were sent to `wp-login.php` simultaneously, and secod one was causing 403.

![Screenshot from 2020-12-18 13-37-36](https://user-images.githubusercontent.com/8456197/102590450-9cd24f00-4136-11eb-9922-28c4f5e732bd.png)

[2020-12-18 08:33] rahul286 commented on #62
@mrrobot47 did we remove plugin

[code]

Please add it from directory and configure it sitewide

[2020-12-18 08:35] mrrobot47 commented on #62
@rahul286 Did not remove the plugin.
It was not active on network. Network activated now :white_check_mark:

[2020-12-18 08:36] rahul286 commented on #62
Still 403 https://hw.rsites.in/wp-login.php?loggedout=true&wp_lang=en_US

![403_Forbidden](https://user-images.githubusercontent.com/4115/102592915-32231280-413a-11eb-9a93-6dabc5750350.jpg)

[2020-12-18 08:36] mrrobot47 commented on #62
On which site did you get this error?

[2020-12-18 08:44] mrrobot47 commented on #62
@rahul286 please try now. The rate was set at 1 request per 6 second (`10r/m`). Eased it down to `1r/s`. Please check now.

[2020-12-18 08:46] rahul286 commented on #62
![rsites_in](https://user-images.githubusercontent.com/4115/102593998-a8744480-413b-11eb-8a58-9a3b4d1c4756.jpg)

[2020-12-18 09:27] mrrobot47 commented on #62
Did you get this just before my last message? Then probably Nginx restart caused it.
Please let me know if you get this again.

[2020-12-18 11:33] rahul286 commented on #62
Working now.

[2020-12-18 11:33] #62 closed

[2021-04-29 19:42] mehidi258 opened #67 "Remove duplicate DOM"
There is duplicate DOM element for unnecessary purpose. Ideally it should be removed.
![image](https://user-images.githubusercontent.com/34313754/116608491-0f5d0200-a955-11eb-8382-f3d8bfa5f2d4.png)

[2021-05-05 03:06] #45 closed

[2021-05-12 04:14] gagan0123 opened #69 "Remove redundant tag added as sub directory in SVN repo of the plugin for version 1.0.10"
https://user-images.githubusercontent.com/1535505/117917393-966f8a00-b306-11eb-95b6-39792cbd6ff6.mp4

[2021-05-13 03:41] underscore-network opened #70 "Feature Query/Request : Will it work with woocommerce?"
Hi, can this work with Woocommerce by default or any tweaks needed for this to work?

[2021-05-20 14:24] michpau2 opened #72 "Log in with google suddenly stopped working"
I have had this plugin working on multiple sites, across multiple hosting accounts. With different google developer consoles, and suddenly about 2-3 days ago it stopped working. When I click "log in with google" it shows all my google accounts, I choose the correct one, and it just takes me back to the login page to click on "log in with google" again.

[2021-05-20 16:18] michpau2 commented on #72
I have tried deleting the plug and reinstalling it, and I have tried creating a new credential in google developer. Still whenever I try to sign in it just redirects me back to my /wp-login.php page.

[2021-05-20 16:20] ankitrox commented on #72
@michpau2 Can you add the URL where this issue is happening?

[2021-05-20 16:23] michpau2 commented on #72
It is happening with 5 websites that I am running this plugin on, all the same issue. 3 on one hosting account, and 2 on another separate hosting account. The main site that I am working on and need to get it working again, is https://asd58.us/wp-login.php

[2021-05-20 16:53] michpau2 commented on #72
When I click the "log in with google" button and the list of my accounts shows up, the console has an error that says "VM9:27 This document requires 'TrustedScript' assignment." I'm not sure if this is related or not.

[2021-05-20 18:11] michpau2 commented on #72
I have really enjoyed this plugin, and I would like to not have to move away from it. I have found another plugin that is a little behind this one on some features. I tested it with my current OAuth 2.0 credential that this plugin is using, and the login worked fine with the other plugin, so it cant be an issue with my Google console configs. I have to tinker with the new plugin to get it to work

[2021-05-21 10:32] ankitrox commented on #72
@michpau2 Thanks for details and sorry for inconvenience.

We have identified a problem in latest version and created a fix for the same. https://github.com/rtCamp/login-with-google/pull/73

A new version for the plugin with this fix will be released soon. If you want to try the fix, you can test it by pulling [this branch](https://github.com/rtCamp/login-with-google/tree/fix/state-decoding)

[2021-05-21 14:19] michpau2 commented on #72
I just downloaded that branch and tested it. Unfortunately, I experienced the same issue.

[2021-05-21 17:49] chriselkins commented on #72
My sites using the plugin are experiencing the same issue. I also tried using the commit in #73 but I'm still not able to login with Google.

[2021-05-24 08:26] ankitrox commented on #72
@michpau2 @chriselkins Sorry for the issue.
We are still investigating the cause for same. However, I have noticed that this issue is not happening in previous version of the plugin **1.0.10**

You can meanwhile, use that version of plugin to avoid this issue. I will keep you posted of further investigation updates.

[2021-05-24 14:44] michpau2 commented on #72
@ankitrox I have tried downloading the 1.0.10 release and downloading it. After uploading it to my WordPress site it I cannot access the settings page. It doesn't appear under the settings page, and on the plugin page it only has the option to deactivate. I am not sure If I did something wrong.

[2021-05-25 18:41] pdclark commented on #72
@michpau2 @chriselkins @ankitrox An attempted fix has been deployed in version 1.0.13. Does this resolve the issue for you?

[2021-06-14 15:26] mouveo opened #75 "How to translate it with Loco plugin?"
Hello,
great plugin!

There is this message : No translations found for "wp-google-login"

And when I create a translation, that doesn't work even if I changed the setup with a new template.

![loginwithgoogle](https://user-images.githubusercontent.com/9964910/121917586-8f88cc80-cd35-11eb-9525-11db31d34b11.png)

[2021-06-15 20:24] #72 closed

[2021-06-23 06:56] rahul286 opened #77 "Create Gutenberg Block for Google Login"
On similar lines we have for Github Login

[2021-06-28 08:22] pooja-muchandikar opened #78 "Issue with login with google"
### TEST URL: https://stories.rtcamp.com/

**Usecase 1:**

- [ ] Using rtcamp.com email-id I was able to login to site successfully for first time. Next time I used Login with Github to login to site and was able to successfully login. But now when I again try to login with google it doesn't allow me to login, redirects back to login page. **And vice versa**

**Usecase 2:**

- [ ] Whitelisted doma

[2021-06-28 08:27] pooja-muchandikar opened #79 "Disable Settings if Constants and Whitelisted domain are defined in wp-config file."
If we have constants and whitelisted domains defined in wp-config.php file then on adding whitelisted domain from field is not getting saved.

To avoid confusion we have to disable the fields from settings page if constants and whitelisted domains are defined in wp-config.php file. **note the data defined in wp-config.php file needs to be pre-filled and disabled**

If constants are not defined the

[2021-06-29 07:20] ankitrox commented on #44
@power-cut Can you please explain the entire flow of the integration?

[2021-06-29 07:46] ankitrox commented on #79
@pooja-muchandikar Added this feature: https://stories.rtcamp.com/wp-admin/options-general.php?page=login-with-google

[2021-06-29 17:34] pooja-muchandikar commented on #78
Cross-checked both the scenarios and login with google and github are working fine.

Closing this issue as this is fixed.

[2021-06-29 17:34] #78 closed

[2021-06-30 14:19] ankitrox commented on #67
https://github.com/rtCamp/login-with-google/pull/74

Will be resolved in the PR.

[2021-06-30 14:19] #67 closed

[2021-06-30 14:32] ankitrox commented on #79
@pooja-muchandikar Can you please test and close this issue as it has been addressed already?

[2021-06-30 15:18] pooja-muchandikar commented on #79
Have cross-checked the issue and following scenarios works fine.

- If constants are defined in wp-config.php file then settings page fields appear disabled
- If constants are not defined in wp-config.php file then settings page fields appear enabled and can update domains and save successfully.

Closing this issue.

[2021-06-30 15:18] #79 closed

[2021-07-01 08:48] ankitrox commented on #70
@underscore-network `Login with Google` provides the ability to login/register using user's Google account. Prior version used to add Login button only in login form, but now you can also use shortcodes to insert `Login with google` button anywhere.

Please refer the [shortcode doc](https://github.com/rtCamp/login-with-google/blob/master/README.md#shortcode) for further reference. For any other qu

[2021-07-01 08:48] #70 closed

[2021-07-01 12:03] #69 closed

[2021-07-05 13:45] ankitrox opened #82 "Support for One Tap User Experience"
We can integrate One Tap Sign-In. We also have received a request in support forum for same:
https://wordpress.org/support/topic/support-google-one-tap-sign-in/

Reference for One tap sign-in: https://developers.google.com/identity/gsi/web/guides/features

[2021-07-14 13:57] ankitrox commented on #44
Closing this one as no further response received.

[2021-07-14 13:57] #44 closed

[2021-07-14 13:59] ankitrox commented on #75
Thanks @mouveo,

Can you please update the plugin to version 1.1 and check if this resolves the issue for you?

I'm closing this issue here, if you need further support please consider opening support ticket on plugin's support forum on wordpress.org

[2021-07-14 13:59] #75 closed

[2021-07-15 11:10] pooja-muchandikar commented on #82
@ankitrox

Cross-checked one tap login feature and functionality wise works fine.
<img width="1255" alt="Screenshot 2021-07-15 at 3 38 20 PM" src="https://user-images.githubusercontent.com/41000648/125770798-48ec182c-c400-4b70-a9a3-da3e178e7906.png">

---

But while checking its settings found one issue: Enable One Tap Login Only on Login Screen the feature is not working as the per the option ena

[2021-07-19 09:44] #82 closed

[2021-07-26 11:07] napathello opened #88 "If change url wp-login can't use plugin"
Hello

We use custom url on login block spam and brute force attack
But we click login with google have error

https://dropover.cloud/24d4fd

[2021-07-26 13:56] ankitrox commented on #88
@napathello Can you please confirm what is the URL for login in WordPress and what it is in Google Console?

[2021-07-26 14:00] napathello commented on #88
@ankitrox hello my setting url in console same in wordpress
Use /my-login/
https://dropover.cloud/d5c98b

[2021-08-24 18:50] Enchiridion opened #89 "Feature request: Add action when user logs in"
Hi,
I love this clean, minimalist login plugin and how well written the code is.  I have a feature request.

Could you add some hooks after the user has been authenticated?  On my site I want to track which method the user used to log in, either the normal WP login form or via Google.  I've walked though the code but there aren't any hooks right after authentication so I can add the tracking in.

[2021-08-30 15:18] dealifyhq opened #90 "Doesn't show on WooCommerce login page"
Hello,

First of all, thanks for building this great plugin! There is a slight issue, when selecting the option: Only show Google One-Tap on the log-in page, it will only show on the log-in page for admins (the wp-login), but not for WooCommerce users. For example, we have our login/registration URL at https://www.dealify.com/my/, but it won't show there, even though the option 'Enable One Tap Log

[2021-08-30 16:01] ankitrox commented on #90
Hi @dealifyhq,

There is an option to enable one-tap login **Sitewide**, can you please confirm if you've enabled that option in plugin settings?

[2021-08-30 16:48] dealifyhq commented on #90
Thanks for the quick feedback. No it is not enabled site-wide, only want it
on the login/registration page for WooCommerce. Would that be possible to
consider adding in a future update? :)

Thanks in advance!

Op ma 30 aug. 2021 18:02 schreef ankitrox ***@***.***>:

[2021-08-31 12:18] ankitrox commented on #90
You can try something like this:

1. Enable one-tap login site-wide. This will add the one tap script and one tap related required markup as per [this code](https://github.com/rtCamp/login-with-google/blob/master/src/Modules/OneTapLogin.php#L98-L99).

2. Add a custom code snippet in theme's functions.php file which will determine if the current page is not WooCommerce Login page, then remove these

[2021-08-31 16:22] ankitrox commented on #89
Hi @Enchiridion,

Thanks for your kind words and bringing the issue into focus.

I've raised a [PR](https://github.com/rtCamp/login-with-google/pull/91) for addressing this issue as it seems to be a valid point.

You can update the plugin when the update is available.

[2021-10-14 10:23] benjaminmead opened #92 "Cannot login to second Google account if current account not from whitelisted domain"
Hi,

If the user is
(i) currently signed in to their personal Gmail account
(ii) is not signed in to their Google Workspace account from a whitelisted domain

When they go to login, there is no option for them to choose to login to their Google Workspace account.

I believe this can be solved by adding a parameter to the OAuth2 Authorisation URL:
?prompt=select_account

This could potentially be a

[2021-10-14 21:57] #92 closed

[2021-12-09 13:15] bhanu-krenovate opened #95 "When authenticating from One Tap Login how to redirect user to same page."
First of all, great plugin. It works as it is supposed to work out of the box.

I am in need of some custom changes. I am interested in redirecting user to the same page from where he/she actually tried to authenticate himself/herself.

I found the concerned filter.

[code]
_Right now, I have hardcoded the URL, but I intend to make it dynamic._

The issue being how do I identify what page the user

[2021-12-20 09:36] bhanu-krenovate commented on #95
I took some time to look into the login for OneTapLogin.php.

It seems that here on (https://github.com/rtCamp/login-with-google/blob/master/src/Modules/OneTapLogin.php#L185-L198)
$decoded_states `redirect_to` value is the url which it is getting redirected to.
[code]
How can that be changed to the present page where the oneTap UI is shown ?

[2022-01-12 16:15] ankitrox opened #97 "Wrapper/Helper functions"
Create wrapper functions for different utility operations.
Load this function via `file` in composer, so that clients can use these functions directly without needing to interacting with objects.

This will provide a level of abstraction so that we can make plugin more maintainable without breaking applications because the underneath code of helper functions can be changed at anytime (keep the end

[2022-01-28 04:12] ank1traj opened #98 "One Tap is not working"
### Environment
**OS** - Windows
**Browser** - Chrome
**Architecture** - x64
**WordPress Version** - 5.9

| name  | About  | labels  | assignees|
|---|---|---|---|
|  🐛 Bug Report | One Tap Login 🤔. | bug  |   |

**Description** - On Tap Login with google is not working as per expected. It's not coming on login screen or any page of the website.

[2022-01-28 04:16] ankitrox commented on #98
@ank1traj Is there any console error in browser?

Please add some more details about the environment you are using. I think one-tap would not work on some Safari browsers.

[2022-01-28 10:00] tmertz opened #99 "Users met with invalid password on login"
This is a strange one.

We're running WordPress 5.9, and 1.2.1 of Login with Google.

Everything works perfectly for me as Workspace Super Admin, but almost every other user in our Workspace can't log in.
We're seeing the issue in both Safari and Firefox.
They go to our /wp-admin page, click the Login with Google button. Then they either log in or are redirected back if they are already have an ac

[2022-01-28 10:12] ank1traj commented on #98
Hi @ankitrox

My complete environment -

Browser - Chrome Version 97.0.4692.99 (Official Build) (arm64)
OS - MacOS Monterey(12.1 (21C52))
Login with google - 1.2.1
WordPress - 5.9.0

Console error -
- [x] `Failed to load resource: the server responded with a status of 403 ()`

- [x] `[GSI_LOGGER]: The given origin is not allowed for the given client ID.`

[2022-01-28 11:00] ankitrox commented on #99
Hi @tmertz ,

I've checked this issue, but can't reproduce.

Do you have some steps to reproduce this issue?

Can you please also try following thing on your development/local site?

1. Deactivate all other plugins except `Login with Google` and switch to default `Twenty Twenty One` theme.
2. Try logging in with google in this minimal environment to check if you get similar issue.

[2022-01-28 16:38] ankitrox commented on #98
@ank1traj Are you testing this on any of our dev site?

1. If yes, please provide me the URL and access to site.
2. If no, can you please try once over there?

[2022-02-01 12:36] tmertz commented on #99
I do not have any solid steps to reproduce this. It works for my superadmin account, but nearly everyone else is met with the message in the attached screenshot.
Given that, it is not viable for me to disable all other plugins, as I am in a different country from my coworkers and therefor can't give them access to my dev environment.
I know this isn't super helpful. :/

[2022-02-03 18:54] hemmesdev opened #100 "403 Forbidden on redirect back from google"
Hi,

I'm getting a 403 Forbidden on wp-login.php after redirecting back from google.
Any idea why that is happening?

Forbidden
You don't have permission to access this resource.

https://domain.org/wp-login.php?state=*************************JzdGVsYWNhZGVtaWUub3JnXC93cC1hZG1pblwvIiwicHJvdmlkZXIiOiJnb29nbGUifQ%3D%3D&code=4%2F0AX4XfWg7HKgikNlBfgUXhufLtqYbTKJ_u0y7khBQKOE691O1UFPZHSh3i3QVIOrxDBAcbw&s

[2022-02-07 10:19] hemmesdev commented on #100
The problem is a Mod Security rule from my hoster. So not anything you guys can help me with. Consider it closed for now

[2022-02-07 10:19] #100 closed

[2022-03-01 06:02] abhi3315 commented on #77
@ankitrox What's the status of this issue? If it is not done then I can pick it up.

[2022-03-01 10:06] bsahins commented on #95
need help for same issue.
users should stay in same page.

[2022-03-01 10:26] bhanu-krenovate commented on #95
Hey @bsahins, I made a fork of the plugin to fix this. But its private right now. I don't think its possible without making an edit to the possible.

[2022-03-01 14:42] bsahins commented on #95
Hi @bhanu-krenovate,
If your version is working it is OK for me :)
Can you share the updated file?

[2022-03-15 11:46] vishalkakadiya commented on #98
@ank1traj This is working fine for me, hence closing this now. Thanks!

CC @ankitrox

[2022-03-15 12:45] vishalkakadiya commented on #95
@bhanu-krenovate @bsahins You can use `rtcamp.google_login_state` filter to set the current URL to maintain the redirect URL in the state. I am sharing the below code as an example, which can help you to achieve this.

[code]

Let me know how it goes, thanks!

[2022-03-15 17:48] bsahins commented on #95
Will try asap. But I suggest to put a small settings about this. So admin can choose where to go.
thanks

[2022-03-16 06:16] vishalkakadiya commented on #88
@napathello Can you share which plugin you are using for changing the admin area's URL or any other manual configuration you did for changing the admin URL?

[2022-03-16 07:00] vishalkakadiya commented on #99
Hi @tmertz,

Thank you for using this plugin, I am also not able to reproduce this issue on my end. It will be helpful if you get some more details from your coworkers who are facing these issues, any small screencast video of this issue is also helpful for us.

Thanks!

[2022-04-03 09:16] klmnweb opened #101 "Collect First and Last Name while Creating a user account"
The plugin does not collect user First and Last name while creating a WP account with the user Google email address. Only the user email is collected.

[2022-04-04 07:26] ankitrox commented on #101
Check [this hook](https://github.com/rtCamp/login-with-google/blob/master/src/Utils/Authenticator.php#L104) which provides the entire `user` object from Google which contains information like first name, last name etc. to use it once the user has been created successfully.

In order to keep the plugin minimal, we are not adding any extra information in profile, but plugin has the provision to hand

[2022-04-05 12:53] klmnweb commented on #101
Thanks @ankitrox . It did work. I am now able to collect the first as well as last name. For others, this is the reference

[code]

[2022-04-13 16:21] MoryCorp commented on #88
Hi, I have the same issue with this plugin : https://fr.wordpress.org/plugins/wps-hide-login/
I set the login page to https://mydomain.com/login
Setting the direct to https://mydomain.com/login on Google Cloud and getting an error

[2022-05-16 09:49] Giovannss-ctrl opened #104 "Compatibility issue with PHP 8.1"
When I update the PHP version to 8.1, this error appears:

Deprecated: Constant FILTER_SANITIZE_STRING is deprecated in /web/htdocs/www.mydomain.com/home/wp-content/plugins/login-with-google/src/Utils/Helper.php on line 90

[2022-05-16 12:39] pavanpatil1 opened #105 "Update all the Composer dependencies"
Need to Update update all the Composer dependencies

[2022-06-21 23:05] #105 closed

[2022-06-25 13:37] enricoeur81 opened #110 "UPDATE First and Last Name at next login"
Hello,

i'm observinng that plugin doesnt give possibility to update firstname and lastaname i ncase the user changed them on Gmail. Is it possible to add an ACTIOn HOOKUP to trigger after a login ?

In this way if needed we can run some updatting procedure also when the user account is already created, but maybe need to be updated.

Thanks

[2022-07-12 18:01] dhsathiya opened #112 "Redirects back to login page after clicking login button"
I have noticed that when visiting a site after a while and using the Login-with-Google plugin, after clicking the login button the site gets redirected back to the `wp-login` page again.

Previous observation:
The last time issue occurred, I checked the requests and found that the redirect was a soft redirect - 302. And the network tab showed that it is from `Disk Cache`

[2022-07-13 07:30] nitun commented on #112
Hi @abhishekfdd
Please look into this issue and provide an update before EOD.

Keep posting updates on this task.

Thanks,

[2022-07-13 12:45] aviral-mittal commented on #112
Ref Slack thread: https://rtcamp.slack.com/archives/CMPBQ2B09/p1657646249878179

[2022-07-18 06:28] abhishekfdd commented on #112
@dhsathiya Is there any particular step to reproduce this issue, as I was able to login fine every time?

[2022-07-19 07:36] aviral-mittal commented on #112
@abhishekfdd As discussed, please try to set a timeout and see if you are able to reproduce the issue.

[2022-07-19 07:55] aviral-mittal commented on #104
@abhishekfdd As discussed, even when fixing this issue for PHP8.1 , we will maintain back compatibility as well.

[2022-07-19 07:57] aviral-mittal opened #113 "PHP 8.0 Compatibility"
Keeping in view that WordPress will be moving PHP8.0 by November 2022, with many of the websites already upgrading, we need to make sure that login-with-google plugin is PHP8.0 compatible, while maintaining backward compatibility.

[2022-07-19 07:59] aviral-mittal commented on #110
@abhishekfdd Please link the pull request and discuss the PHP test units related query as discussed.

[2022-07-19 10:19] dhsathiya commented on #112
@abhishekfdd: I was discussing it with @chandrapatel. He has a theory regarding this. Please talk with Chandra once.

[2022-07-20 13:28] abhishekfdd commented on #113
Tested plugin with php 8.0 and found no issues

[2022-07-20 13:34] abhishekfdd commented on #112
To replicated:

- Tried clearing cookie.
- tried decreasing session timeout
- setting browser setting to resume with last session.

Nothing worked.

Discussed with @chandrapatel problem seems to be in redirection but still we are not able to replicate the issue.

[2022-07-20 13:47] abhishekfdd commented on #99
We have again tried to reproduce the issue and were unable to do the same so we are closing this issue for now.

@tmertz  If you have further details to reproduce the issue, please feel free to reopen the issue.

[2022-07-20 14:03] #88 closed

[2022-07-20 16:55] nitun commented on #112
Thanks for checking this again.

If anyone faces the same issue, we will report it along with a screencast here.

Keeping this task on hold till that.

[2022-07-25 15:37] aviral-mittal commented on #104
@abhishekfdd Do we have any updates for this?

[2022-07-26 12:40] #101 closed

[2022-07-26 12:42] abhishekfdd commented on #101
PR #115 for this is merged. First Name and Last name will be saved in WP profile at the time of registration.

[2022-07-26 12:46] #110 closed

[2022-07-27 07:10] abhishekfdd commented on #110
@enricoeur81  Now first name and last name can be updated from google at subsequent login if required using this [hook](https://github.com/rtCamp/login-with-google/blob/3b6aa20ead4a5a2960d66f6f0987add63dfb069b/src/Utils/Authenticator.php#L72) here.

[2022-08-02 07:59] aviral-mittal commented on #95
Solution has already been shared by Vishal, and no changes are required in the plugin for the same.

[2022-08-02 07:59] #95 closed

[2022-08-02 08:02] aviral-mittal commented on #97
@gagan0123 Is this required?

[2022-08-02 08:07] aviral-mittal commented on #77
@abhishekfdd As discussed on call just now:

1. - [ ] Change the button name to log out when logged in - no greying out needed.
2. - [ ] Keeping the button size default as it can change size if used in a particular column, etc. User can add CSS class if custom size is required anywhere.
3. - [ ] Show Google logo in the block in backend also - to keep in line with WYSWYG principle.

[2022-08-02 08:22] aviral-mittal commented on #90
@abhishekfdd As discussed, we will add a filter to make the one tap login button load on any user defined page. We will add this feature in the plugin.

[2022-08-02 08:23] aviral-mittal commented on #104
@abhishekfdd As discussed, please drop an update with your findings so far here.

[2022-08-03 08:17] aviral-mittal opened #117 "Changelog for new release"
@abhishekfdd

We need to create a changelog for all the features/fixes that have been implemented since the last 1.2.2 release. The next version is going to be 1.3.0

Please update when the same is documented so that we can start with the QA phase.

[2022-08-04 17:52] abhishekfdd commented on #104
@aviral-mittal
FILTER_SANITIZE_STRING has been deprecated in PHP 8.1 and will result in warning.
We need to modify this function to use other appropriate sanitization function.

Since there are many references to this in our plugin it can be time consuming so let's keep this for future versions when we will provide full compatibility with  PHP 8.1

[2022-08-04 18:04] abhishekfdd commented on #90
@aviral-mittal I checked and it will be better to use solution provided by Ankit in above [comment](https://github.com/rtCamp/login-with-google/issues/90#issuecomment-909183808) instead of adding a new filter

[2022-08-09 09:22] aviral-mittal commented on #77
@abhishekfdd apart from the changes requested by Gagan, is there anything else remaining on this? Can we please have an ETA?

[2022-08-22 07:01] aviral-mittal opened #119 "Make the plugin multisite compatible"
## Issue Description

Need to make the plugin multisite compatible. As encountered [here](https://rtcamp.slack.com/archives/C7VFLQZLJ/p1660310949914039?thread_ts=1660306817.710329&cid=C7VFLQZLJ), the plugin is probably not multisite compatible as of now.

Please investigate the same and if not, please make the plugin multisite compatible.

[2022-08-22 07:05] aviral-mittal commented on #77
@abhishekfdd Let's aim to finish writing the pending test cases today so that this plugin release can go for testing.

[2022-08-23 07:27] abhishekfdd commented on #77
@aviral-mittal Feedback changes and pending test case was done and is ready for review.

[2022-08-30 18:49] abhishekfdd commented on #119
@aviral-mittal  Tested this on subdirectory multisite setup with version 1.2.2 currently on Wordpress [Repo](https://wordpress.org/plugins/login-with-google/)

[2022-09-02 15:14] premalatharajan opened #120 "Readme formating issue"
Add ``` instead of ```` at [Line 36](https://github.com/rtCamp/login-with-google/blob/master/readme.txt#L36)

[Screenshot ](https://ibb.co/4SMcTbm)

[2022-09-02 15:43] aviral-mittal commented on #119
@Rink9 Can you please test the last released version on multisite setup to check if any problems are being faced?

[2022-09-04 20:47] #120 closed

[2022-09-04 20:57] maitreyie-chavan commented on #120
@premalatharajan Thank you for reporting and helping us correct the markup. The next release will reflect the updated text. 🙂

[2022-09-05 06:27] Rink9 commented on #119
@abhishekfdd I have activated Login with Google plugin on my multisite. And also setup the steps mentioned on [here](https://wordpress.org/plugins/login-with-google/). But still it's not working and getting this error.
Sharing my site access on your dm.

<img width="1124" alt="image" src="https://user-images.githubusercontent.com/44554636/188374170-59408c74-5a48-431b-a784-ddffe88b8595.png">

<img

[2022-09-05 06:29] aviral-mittal commented on #119
@abhishekfdd This is important and we should fix this asap.

[2022-09-05 08:54] abhishekfdd commented on #77
@aviral-mittal  This is merged now and ready for QA

[2022-09-05 12:46] abhishekfdd commented on #119
@Rink9  Maybe you are checking at wrong url, if you have configured the Client ID detail for subsite bbpress then you should check it for that from here https://lutfun-rinky.rt.gw/bbpress/wp-admin

[2022-09-05 17:14] Rink9 commented on #119
@abhishekfdd I have setup for https://lutfun-rinky.rt.gw/ URL.
If a user has one multisite and they setup only for main/parent site it should work with it's all subsite. If we have still to setup particularly for every subsite though it's multisite then how we are making this compatible with multisite?

Actual behaviour: Works only when particularly setup for subsites.
Expected behaviour: If we se

[2022-09-06 14:18] abhishekfdd commented on #119
@Rink9  This plugin needs google client ID and  key, which will be unique for every domain so same key won't work for all the sites.

[2022-09-07 05:16] Rink9 commented on #119
@abhishekfdd Let's connect on a call and discuss about it. Somehow i am not able to connect though added Google client ID and key.

[2022-09-07 08:50] Rink9 commented on #119
@abhishekfdd As discussed on call mainly have to add  Client ID and Secrets from all the subsites. Also have to add all the subsites from google console.
My confusion was if we add on parent site it will work on all the subsites but we have to add Client ID and Secrets individually from all the subsites then it will work. As in this use case Login-with-google is working.

<img width="1072" alt="im

[2022-09-07 08:50] #119 closed

[2022-09-08 08:51] aviral-mittal commented on #117
@abhishekfdd Can you please add the update for PHP8.0 compatibility as well to the changelog?

[2022-09-08 09:16] aviral-mittal opened #121 "QA for 1.3.0 release"
## Issue Description

Please conduct a thorough testing of the plugin for upcoming 1.3.0 release. Below are the features, fixes and additions made to the plugin:

= V 1.3.0 =
* Feature: Gutenberg block for Login button (https://github.com/rtCamp/login-with-google/issues/77)
* Feature: Save user first name and last name on registration (https://github.com/rtCamp/login-with-google/issues/101)
* Add:

[2022-09-08 12:54] aviral-mittal opened #122 "Update version name for 1.2.3 Release"
Need to update the version name of plugin to 1.2.3 to prepare for public release.

[2022-09-09 06:36] Rink9 commented on #121
@abhishekfdd @aviral-mittal Performed functional and UI and regression test on Login with Google plugin.

**Functional test cases can be found here:**

 Total scenario tested: 20

 https://docs.google.com/spreadsheets/d/1VvThI0j4GluhFk1M-jFwtb8BHdRjl-ciEqdyL-IP8G0/edit?usp=sharing

Some feedbacks sharing below

- [ ] 1. On the settings under the `Display Logout ` we can put a text message

`If the

[2022-09-09 11:22] aviral-mittal commented on #112
@elifvish Can you take a look at this and figure out a solution?

[2022-09-09 11:55] aviral-mittal commented on #121
@Rink9 In the current implementation, point no. 2 is not expected. We have provided hooks in case someone would like to build additional functionalities at authentication or login event.

@abhishek in point no.1, the text can be

`If the box is unchecked the Login with Google button/block will not be visible to logged-in user. If the box is checked, the button/block will become a ‘Logout’ button`

[2022-09-09 11:57] aviral-mittal commented on #77
QA - https://github.com/rtCamp/login-with-google/issues/121#issuecomment-1241887680

[2022-09-12 09:02] aviral-mittal commented on #112
Hi @elifvish Any updates on this?

[2022-09-12 09:52] elifvish commented on #112
Yes, I was able to reproduce the issue.
The issue is only reproducible when we visit the login page with a specific query arg that is `reauth=1`
and only occurs when `wordpress_logged_in` cookie is set and user visits the login page with this `reauth=1` in url.
I've few solutions in mind. Will try them today.
cc: @aviral-mittal

[2022-09-13 06:05] aviral-mittal commented on #112
@elifvish Please update with the solutions tried and if any of them worked.

[2022-09-13 06:33] #77 closed

[2022-09-13 07:04] abhishekfdd commented on #121
PR for adding helper text is merged now

[2022-09-13 10:10] elifvish commented on #112
The root issue is that nonce verification fails if a user visits `wp-login.php` with `reatuth=1` in query args and `wordpress_logged_in`.
This happens because when nonce is created it checks whether the user is logged in or not. And uses the uid as a part of nonce.
Now when login request is sent `wp-verify-nonce` fails as `reauth=1` parameter logs out the user and now when user id is fetched to ve

[2022-09-19 08:39] aviral-mittal commented on #112
@Rink9 Need to test this fix as well.

[2022-09-19 10:04] Rink9 commented on #112
@aviral-mittal I have cross checked this issue on chrome, firefox, safari browser with clearing all the caches and cookies. Currently it's working as expected on production site on every browsers. And also `redirecting back to login page after clicking on login button` issue got resolved on production site. We are good to close this issue as it's working fine now.

https://user-images.githubuserco

[2022-09-28 11:49] #122 closed

[2022-09-28 12:11] #117 closed

[2022-09-28 12:39] aviral-mittal commented on #121
@Souptik2001 @alvitazwar Also need to test the following:

- [ ] Test plugin compatibility with WordPress 5.4.2

[2022-09-28 13:17] aviral-mittal opened #126 "1.3.1 Release to update Release notes"
## Issue Description

We will need to create 1.3.1 release asap because the Release details on [WP.org](https://wordpress.org/plugins/login-with-google/) are not properly updated for 1.3.0 release.

<img width="321" alt="Log_in_with_Google_–_WordPress_plugin___WordPress_org" src="https://user-images.githubusercontent.com/68884287/192787175-437b7c59-0088-4807-906a-ab1d3fe31169.png">

- [x] As reque

[2022-09-28 14:15] aviral-mittal commented on #126
@Souptik2001 I have updated my comment as the plugin does support Chinene(Taiwan) language and we will continue to reflect the same in plugin details.

[2022-09-29 06:51] aviral-mittal commented on #121
@alvitazwar Just checking if the findings are available.

[2022-09-29 07:17] alvitazwar commented on #121
@aviral-mittal can you please elaborate? is there any deadline for this task? I am asking this because I am fully booked on the wp-com task for today.

[2022-09-29 08:06] pooja-muchandikar commented on #121
@alvitazwar @aviral-mittal

Pavan will be working on testing v1.3.0 of Login with Google plugin with WordPress 5.4.2 and the latest stable release along with PHP 7.3/7.4 and quick sanity with PHP 8.1.

Let us know if any other specific version to be QA'ed.

Test cases/Checklists for same: https://drive.google.com/drive/folders/1x8Y_GZwZU_0GWNLYeU3R0tK4A1UESu00

cc: @pavanpatil1

[2022-09-29 12:46] pavanpatil1 commented on #121
Tested the login with google v1.3.0 with the WP5.4.2 and the latest WP version. Verified with the PHP7 and 8. Added [status](https://docs.google.com/spreadsheets/d/143XouHaIL0qf7RSbyfqXuZmL2tkFeJvxbfRTM6Db16E/edit#gid=1195729148) below 👇

1. PHP 7.4 - WP 6.0.2 latest.  - Working fine
2. PHP 7.3.5 - WP 6.0.2 latest - Working fine
4. PHP 7.3.5 - WP5.4.2.  Plugin functionality is working fine. But in

[2022-09-30 07:46] Souptik2001 commented on #121
Yes I also tested with WP version 5.4.2 and got the same styling problem.

Actually this is because the `style` key in the `register_block_type` function's argument list was most probably introduced in WP version `5.5.0`.

So, either we can change the lower WP version range to `5.5.0` or we can enqueue the `login.css` style separately using `wp_enqueue_style` then we can keep the lower range to `5

[2022-09-30 08:14] Souptik2001 commented on #121
@pavanpatil1 I tried to produce this console error. But I couldn't see it. If possible can you please provide the edit page link where you are getting this error, so that I can check it?

cc: @aviral-mittal

[2022-09-30 09:49] aviral-mittal commented on #121
@Souptik2001 Let's update the minimum WP version required in release details to WP5.5 as 5.5. at this time is already 2 years old.

Cc: @pavanpatil1

[2022-09-30 09:50] aviral-mittal commented on #126
For point 1 - we will update release notes to reflect the minimum version as WP5.5 - ref https://github.com/rtCamp/login-with-google/issues/121#issuecomment-1263356214

[2022-10-03 08:56] pavanpatil1 commented on #121
Discussed the issue with @Souptik2001. The issue is not reproducible on rt. gw(dev) sites and also on Souptik's local machine. Skipping this for now. So if this issue is reproducible in the future then will try to debug it further.

cc: @aviral-mittal

[2022-10-05 13:40] aviral-mittal opened #128 "Update Release Notes for all previous release tags"
## Issue Description

Please update [release](https://github.com/rtCamp/login-with-google/releases) notes/changelog for all previous release tags by referring to the changelog [here](https://github.com/rtCamp/login-with-google/blob/master/readme.txt).

[2022-10-06 04:10] Souptik2001 commented on #128
@aviral-mittal Created release notes till `1.0.9`.

The tags from `1.0.9` to `1.0` doesn't have a wp.org release I guess, because `1.0.9` is marked as an initial release.
Therefore, didn't create a GitHub release for those lower versions as well.

[2022-10-07 05:56] #128 closed

[2022-10-07 05:57] #121 closed

[2022-10-07 05:57] aviral-mittal commented on #126
Released successfully. Closing issue.

[2022-10-07 05:57] #126 closed

[2022-10-13 14:58] thelovekesh opened #129 "Improve plugin tooling and build process"
Currently, the plugin includes vendor and build files in the version control, which increases the size of the repository to checkout and somewhat impacts the developer experience.

Additionally, when the plugin is published, it includes several files that add nothing besides bulking up the plugin; therefore, preferable to remove such files beforehand.

**Here are several chores that could be consi

[2022-11-25 10:18] hbhalodia opened #135 "WordPress Login Form Design Seems broken on adding the `Login With Google`"
# Issue
- Seems like if we add the `Login with Google` to login form of WordPress, the button seems to be having no spacing below.
- The login button wrapper is added on the `login_form` hook which is present in `wp-login.php` file and present after `password` field and before `remember me` and `submit` button.

<img width="723" alt="Screenshot 2022-11-25 at 3 43 12 PM" src="https://user-images.gi